@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header>
    	<div class="text-center">
<h1 class="display-4">Movie recommender</h1>
<p>Can't decide what to watch? Use this recommender for movie inspiration!</p>
	
		</div>
   </header>

<div class="text-center">
    <h3 class="display-4">Find a movie</h3>  
</div>